extends layout

block content
    .row
        .col-12.col-md-8
            .container
                .row
                .col
                    h1.text-center City Weather
                    form(action='/selectedCity', method='POST')
                        select(name='selectedCity')
                            each city in citiesList
                                option(value=city) #{city}
                        input(type='submit', value='Submit')
                .row
                    .col
                        .table-responsive
                        table.table.table-sm.table-hover
                            thead
                                tr
                                    th Date/Time
                                    th Summary
                                    th Temp
                                    th Rain
                                    th Wind
                            tbody
                                each city in cities
                                    tr
                                        - var myDate = new Date(forecast.time*1000); number = (myDate.toGMTString());
                                        td #{city.time}
                                        td #{city.summary}
                                        td #{city.temp} C
                                        td #{city.rain} In.
                                        td #{city.wind} MPH

